@import '~react-toastify/dist/ReactToastify.css';
@import "gqleditor.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 639px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .leftside.toggles {
    left: 0;
    z-index: 999;
  }

  .overlay-canvas-nav {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }

  .leftside {
    background-color: #141620;
    width: 100px;
    left: -100px;
    transition: 0.5s;
  }

  body.toggles .overlay-canvas-nav {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
}

html {
  line-height: 1.2;
}

body {
  background-color: theme("colors.slate");
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.input-wrapper input {
  border: 2px solid #292E42;
  border-radius: 4px;
  transition: all 160ms ease-in-out;
  background: transparent;
  padding: 15px;
  outline: none !important;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.input-wrapper input[type="file"] {
  padding: 0;
  border: none;
}

.input-wrapper input:hover {
  border-color: #596184;
}

.input-wrapper input:focus {
  border-color: #596184;
  box-shadow: 0 0 0 5px rgba(89, 97, 132, 0.4);
}

.input-wrapper input[type="file"]:focus {
  box-shadow: none;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  font-family: 'Roboto Mono', monospace;
  padding: 15px 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #0576F0;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
  border: 2px solid #0576F0;
}

input[type="file"]::-ms-browse:hover {
  background-color: #0576F0;
  margin-right: 10px;
  border: 2px solid #0576F0;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #0576F0;
  margin-right: 10px;
  border: 2px solid #0576F0;
}

input[type="file"]::file-selector-button:hover {
  background-color: #0576F0;
  margin-right: 10px;
  border: 2px solid #0576F0;
}

.input-wrapper input::placeholder {
  color: #596184;
  opacity: 1;
}

.input-wrapper input:-ms-input-placeholder {
  color: #596184;
}

.input-wrapper input::-ms-input-placeholder {
  color: #596184;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  display: inline-block;
  color: #fff;
}
.input-wrapper label.mb-0 {
  margin-bottom: 0;
}
/* Button 10 */
#button-10 .knobs:after {
  content: 'or';
  font-family: 'Space Mono', monospace;
  font-weight: 500;
  top: 0;
  line-height: 1;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 55px;
  background-color: #596184
}

#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}

.state.bg-blue-400_opacity-30 svg {
  transform: rotate(92deg);
}

.tol .text {
  display: none;
  width: 200px;
  top: -108px;
}

.tol:hover span.text {
  display: block;
}

.user ul li {
  display: none;
}

.molte .eidte {
  visibility: hidden;
}

.molte:hover .eidte {
  visibility: visible;
}

.allmenu .toolteap {
  display: none;
  right: -110px;
  top: 0;
}

.allmenu:hover .toolteap {
  display: block;
}

.allmenu::after {
  content: "";
  border-right: 2px solid #d5ff64;
  position: absolute;
  height: 40px;
  left: -10px;
  top: 0;
  display: none;
}

.menu ul li.active .allmenu::after {
  display: block;
}

.visibablhiden {
  visibility: hidden;
}

.custome:hover .visibablhiden {
  visibility: visible;
}

.nav-tabs .nav-link.active {
  color: #d5ff64;
  border-color: #d5ff64;
}

.list li ul.drop-down {
  display: none;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  width: 180px;
  text-align: center;
  top: 28px;
  left: 10px;
}

a.customr.textnone span.towspan {
  display: block;
}

a.customr span.towspan {
  display: none;
}

a.customr.textnone span.onespan {
  display: none;
}

#editor {
  background-color: #141620;
  position: relative;
}

.ace_mobile-menu {
  display: none;
}

.ace-monokai .ace_print-margin {
  width: 0;
  background-color: transparent;
}

.ace-monokai .ace_gutter {
  background: transparent;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }


  100% {
    opacity: 1;
  }
}

.react-select .react-select__control {
  min-height: 50px;
  border-radius: 4px;
  box-shadow: none;
  background-color: theme("colors.slate");
  border: 2px solid #292E42;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 6px;
}

.react-select:not(.transparent):hover .react-select__control,
.react-select:not(.transparent) .react-select__control.react-select__control--menu-is-open {
  border-color: #292E42;
  box-shadow: 0 0 0 3px #292E4280;
}

.react-select.transparent .react-select__control {
  border: none;
  padding: 0;
}

.react-select .react-select__value-container {
  display: flex;
}

.react-select .react-select__indicators {
  padding: 0;
  /*margin-right: 20px;*/
}

.react-select input {
  height: 0;
  opacity: 0;
}

.react-select [class$='-placeholder'] {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.react-select .react-select__menu {
  width: 200px;
  right: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  padding: 0;
  border-top: 4px solid transparent;
  margin: 0;
  background-color: transparent;
  border-radius: 9px;
  overflow: hidden;
  z-index: 2;
}

.react-select .react-select__single-value {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #fff;
}

.react-select.transparent .react-select__single-value {
  color: #59A9FF;
}

.react-select .react-select__dropdown-indicator {
  padding: 0;
}

.react-select.transparent .react-select__dropdown-indicator svg path {
  fill: #59A9FF;
}

.react-select:not(.transparent) .react-select__dropdown-indicator svg path {
  fill: #596184;
}

.react-select .react-select__menu .react-select__menu-list {
  background: #141620;
  padding: 5px 0 6px 0;
}

.react-select .react-select__menu .react-select__menu-list .react-select__option {
  padding: 10px 15px;
  color: #596184;
  position: relative;
  transition: all 160ms ease-in-out;
  cursor: pointer;
}

.react-select .react-select__menu .react-select__menu-list .react-select__option:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 3px 3px 0;
  background-color: transparent;
  height: 100%;
  width: 3px;
  transition: all 160ms ease-in-out;
}

.react-select .react-select__menu .react-select__menu-list .react-select__option:active,
.react-select .react-select__menu .react-select__menu-list .react-select__option.react-select__option--is-focused,
.react-select .react-select__menu .react-select__menu-list .react-select__option:active:before {
  background-color: transparent;
}

.react-select .react-select__menu .react-select__menu-list .react-select__option.react-select__option--is-selected {
  background-color: transparent;
  color: #59A9FF;
}

.react-select .react-select__menu .react-select__menu-list .react-select__option:hover {
  color: #59A9FF;
  background-color: rgba(89, 97, 132, 0.3);
}

.react-select .react-select__menu .react-select__menu-list .react-select__option:hover:before {
  background-color: #59A9FF;
}

.btn {
  border-radius: 4px;
  font-family: 'Roboto Mono', monospace;
  padding: 15px 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.btn.link {
  padding: 2px;
  background-color: transparent;
}